/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  background: #ffffff;
  border-bottom: 1px solid #eee;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #4f46e5;
}
.main{
    text-decoration: none;

}
.navLinks {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navLinks li {
  cursor: pointer;
  font-weight: 500;
}
/* .buttons{
  display: flex;

} */
.Btn {
  background: #4f46e5;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 1rem ;
}